doctype html
//
  Material Design Lite
  Copyright 2015 Google Inc. All rights reserved.
  Licensed under the Apache License, Version 2.0 (the "License");
  you may not use this file except in compliance with the License.
  You may obtain a copy of the License at
  https://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='COMP3121 Assignment1')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // For Assignment Start
    title Assignment 1
    //-meta(property='fb:app_id', content='517354425094676')
    //-meta(property='fb:admins' content='100007167257504')
    //-meta(property="og:url" content="http://www.your-domain.com/your-page.html")
    //-meta(property="og:type" content="website")
    //-meta(property="og:title" content="Your Website Title")
    //-meta(property="og:description" content="Your description")
    //-meta(property="og:image" content="http://www.your-domain.com/path/image.jpg")
    // For Assignment End
    link(href='https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en', rel='stylesheet')
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
    link(rel='shortcut icon', type='image/ico', href='favicon.ico')
    link(rel='stylesheet', href='css/material.min.css')
    link(rel='stylesheet', href='css/styles.css')
    style.
      .fb-comments, .fb-comments * {
       width:100% !important;
      }
      #view-source {
      position: fixed;
      display: block;
      right: 0;
      bottom: 0;
      margin-right: 40px;
      margin-bottom: 40px;
      z-index: 900;
      }
      .fb_edge_widget_with_comment span.fb_edge_comment_widget {display: none !important;}
        #fbComments { 
        width: 100%; 
        float: left; 
        font-family: Arial, Helvetica, sans-serif; 
        color: #ff6600; 
        }
        #fbComments a {
        color: #ff6600;
        }
  body.mdl-demo.mdl-color--grey-100.mdl-color-text--grey-700.mdl-base
    .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
      header.mdl-layout__header.mdl-layout__header--scroll.mdl-color--primary
        .mdl-layout--large-screen-only.mdl-layout__header-row
        .mdl-layout--large-screen-only.mdl-layout__header-row
          h3 Blog
        .mdl-layout--large-screen-only.mdl-layout__header-row
      main.mdl-layout__content        
        #overview
          p.mdl-spinner.mdl-js-spinner.mdl-spinner--single-color.is-active
        footer.mdl-mega-footer
    script(src='/bower_components/material-design-lite/material.min.js')
    script(src='/bower_components/react/react.js')
    script(src='/bower_components/object.observe/dist/object-observe.js')
    script(src='//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
    script(type='text/javascript', src='//www.google.com/jsapi')
    script(src='build/build.js')
    script.
      MutationObserver = window.MutationObserver || window.WebKitMutationObserver;
      var observer = new MutationObserver(function(mutations, observer) {
          componentHandler.upgradeDom();
      });
      observer.observe(document, {
          subtree: true,
          attributes: true,
          childList: true
      });
      React.render(React.createElement(NewsContainer, null), document.getElementById('overview'));
    #fb-root
    script.     
      (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
         return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=517354425094676";
        fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
      // This is called with the results from from FB.getLoginStatus().
      
      
